
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu Mono', monospace;
    text-decoration: none;
    border: none;
    scroll-behavior: smooth;
}

body{
    background: linear-gradient(155deg , #333232, #282727, #000000 , #000000 , #e2293f);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.menu{
    position: relative;
    display: flex;
    margin: 50px 80px 50px 80px;
    height: 85.5vh;
    width: 85.5%;
    /* overflow: hidden; */
    border-radius: 30px;
    border: 1px solid #fff;
    background: linear-gradient(155deg,#696666,#000000,#280101);
    backdrop-filter: blur(20px);
    color: #fff;
    /* background-size: cover; */
}

.box{
    margin: -30px 0 0 0;
    position: relative;
    font-size: .3rem;
    color: #fff;
    text-shadow: 0 0 0.5px #0f0,
                 0 0 30px #0f0,
                 0 0 55px #0f0,
                 0 0 75px #0f0,
                 0 0 80px #0f0;
    animation: animate 5s linear infinite;
}

@keyframes animate{
    0%{
        filter: hue-rotate(0deg);
    }

    100%{
        filter: hue-rotate(360deg);
    }
}

.navbar{
    margin: 20px 0 20px 20px;
    height: 93%;
    width: 5%;
    display: grid;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    grid-gap: 20px;
}

.items a{
    position: relative;
    margin: 70px 0 0 0;
    font-size: 1rem;
    color: #fff;
}

.items a i{
    transition: .2s;
}

.items a i:hover{
    transform: scale(1.2);
}

.items{
    justify-content: center;
    align-items: center;
    display: grid;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 48px;
}

.q{
    display: flex;
    align-items: center;
    justify-content: left;
}

.name{
    margin: 0 0 0 70px;
    font-size: 40px;
    font-weight: 600;
}

.search{
    margin: 0 0 0 30px;
    background: rgba(255,255,255,0.1);
    height: 50px;
    border-radius: 8px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    transition: .2s;
}

.search:hover{
    transform: scale(1.05);
}

::-webkit-input-placeholder{
    color: #fff;
}

.search input{
    background: transparent;
    color: #fff;
    border: none;
    margin: 0 30px 0 20px;
    outline: none;
}

.xy{
    margin: 0 0 0 10px;
}

.xy i{
    font-size: 19px;
    color: #fff;
    /* text-shadow: 0 0 20px rgb(168, 167, 167),
    0 0 35px rgb(255, 255, 255); */
}

.search i{
    margin: 0 10px 0 0px;
}

#select{
    width: 100px;
    margin: 0 30px 0 0px;
    background: transparent;
    outline: none;
    color: #fff;
}

#select::-webkit-scrollbar{
    display: none;
}

#select option{
    background: #000;
}

::-webkit-select-name{
    color: #fff;
}

.login button{
    color: #fff;
    height: 35px;
    width: 110px;
    background: rgb(23, 250, 3);
    box-shadow: 0 0 10px rgb(21, 255, 0),
    0 0 25px rgb(21, 255, 0);
    font-size: 19px;
    border-radius: 20px;
    margin: 0 90px 0 0;
    cursor: pointer;
    font-weight: bold;
    transition: .2s;
}

.login button:hover{
    box-shadow: 0 0 5px rgb(21, 255, 0),
    0 0 25px rgb(21, 255, 0),
    0 0 45px rgb(21, 255, 0);
    transform: scale(1.1);
}

.menu#blur.active{
    pointer-events: none;
    user-select: none;
    filter: blur(20px);
}

#popup{
    position: fixed;
    margin-top: -38px;
    left: 50%;
    transform: translate(-50%,50%);
    width: 400px;
    color: #fff;
    height: 400px;
    /* padding: 50px; */
    /* border: 1px solid #fff;
    border-radius: 20px; */
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}

#popup.active{
    top: 1%;
    visibility: visible;
    opacity: 1;
    transition: .5s;
}

#popup h2{
    width: 100%;
    height: 40px;
    font-size: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 0 19px 0;
}

.bb{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 33px;
    margin: 0 0 0 80px;
}

.bb button{
    color: #fff;
    height: 35px;
    width: 110px;
    background: rgb(23, 250, 3);
    box-shadow: 0 0 10px rgb(21, 255, 0),
    0 0 25px rgb(21, 255, 0);
    font-size: 19px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: .2s;
}

.bb button:hover{
    box-shadow: 0 0 5px rgb(21, 255, 0),
    0 0 25px rgb(21, 255, 0),
    0 0 80px rgb(21, 255, 0);
    transform: scale(1.1);
}

.loginbox{
    /* background-image: url(tomato.jpg);
    background-size: 500%; */
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: auto;
     background:transparent ;
    /* background: rgba(255,255,255,0.1); */
    background: linear-gradient(155deg,#696666,#000000,#280101);
    box-shadow: 0 5px 30px rgba(0,0,0,30);
    border: 1px solid #fff;
    border-radius: 50px 50px ;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px); 
}

 .inputbox{
    position: relative;
    width: 310px;
    margin: 30px;
    border-bottom: 2px solid #fff;
    margin: px 0 0 0;
}
    .inputbox label{
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        font-size: 1em;
        color: #fff;
        /* pointer-events: none; */
        transition: .5s ease-in-out;
        
    }
    .inputbox input:focus~label,
    .inputbox input:valid~label{
         top:-5px;
          
    }
    .inputbox input{
        width: 100;
        height: 30px;
        background: transparent;
        border: none;
        outline: none;
        font-size: 1em;
        color: #fff;
        padding: 0 35px 0 5px;

    }
    .inputbox .icon{
        position: absolute;
        right: 8px;
        color: #fff;
        font-size: 0.9em;
        cursor: pointer;
        transition: .3s;
    }

    .inputbox .icon:hover {
        transform: scale(1.1);
    }

    .rememberforgot{
        margin: -15px 0 15px;
        font-size: .9em;
        color: #fff;
        display: flex;
        justify-content: space-between;
    }
    .rememberforgot input label input{
        margin-right: 3px;
    }
    .rememberforgot a{
        color: #fff;
        text-decoration: none;
    }
    .rememberforgot a:hover{
        text-decoration: underline;
    }

    .register-link{
        font-size:.9em;
        color: #fff;
        text-align: center;
        margin: 25px 0 10px;
    }
    .register-link p a{
        color: #fff;
        text-decoration: none;
        font-weight: 600;
    }
    .register-link p a:hover{
        text-decoration:underline;
    }

.vr{
    display: flex;
    align-items: center;
    justify-content: center;
}

.vr img{
    height: 40px;
    margin: 0 117px 0 0px;
}

.main{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    overflow-y: scroll;
    height: auto;
    width: 75%;
    margin: 30px 0 0 0;
}

.main::-webkit-scrollbar{
    display: none;
}

/* .head{
    margin: 60px 0 0 20px;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head h3 i{
    font-size: 20px;
}

.head h3{
    font-size: 25px;
} */

.container-head{
    font-size: 22px;
    display: flex;
    align-items: center;
    margin: 30px 0 0px 20px;
}

.container-head h4{
    margin: 0 0 0 8px;
}

.container-head img{
    height: 30px;
}

.container-head i{
    font-size: 18px;
}

.container{
    display: flex;
    height: 400px;
    flex-direction: row;
    align-items: center;
    margin: 0 0 0 20px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.container::-webkit-scrollbar{
    display: none;
}

.container5{
    display: flex;
    height: 430px;
    flex-direction: row;
    align-items: center;
    margin: 0 0 0px 20px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.container5::-webkit-scrollbar{
    display: none;
}

.cards {
    position : relative;
    width : auto;
    display : flex;
    align-items : center;
    justify-content : center;
    flex-wrap : wrap;
    padding : 6px;
  }
  
  .cards .card {
    position: relative;
    max-width : 300px;
    height : 215px;
    background-color : rgba(255,255,255,0.1);
    margin : 30px 10px;
    padding : 20px 15px;
    display : flex;
    flex-direction : column;
    box-shadow : 0 5px 20px rgba(0,0,0,0.5);
    transition : 0.3s ease-in-out;
    border-radius : 15px;
  }

  .image h3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    transition: 0.1s;
  }

  .cards .card:hover {
    height : 280px;
    margin: 90px 10px 30px 10px;  
    .image h3{
        display: none;
    } 
  }
  
  .cards .card .image {
    position : relative;
    width : 260px;
    height : 260px;
    top : -40%;
    z-index : 1;
  }
  
  .cards .card .image img {
    max-width : 100%;
    border-radius : 15px;
  }
  
  .cards .card .content {
    position : relative;
    top : -140px;
    padding : 10px 15px;
    color : #fff;
    text-align : center;
    visibility : hidden;
    opacity : 0;
    transition : 0.3s ease-in-out;
  }
  
  .cards .card:hover .content {
     margin-top : 30px;
     visibility : visible;
     opacity : 1;
     transition-delay: 0.2s;
  }

.card .content h3{
    margin-top: 20px;
}

.card .content .line{
    margin: -25px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.card .content .line2{
    margin: -41px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.card .content .lines{
    margin: -36px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.l{
    font-size: 14px;
}

.o{
    font-size: 14px;
    margin: 0 0 0 -40px;
}

.o p{
    display: flex;
    justify-content: left;
}

.v{
    background: green;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    font-size: 15px;
    border-radius: 4px;
    margin-top: 20px;
}

.v i{
    font-size: 12px;
}

.bo{
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 8px 0 0 0;
}

.bo i{
    color: #fff;
}

.bo button{
    background: transparent;
    color: #fff;
    cursor: pointer;
    background: crimson;
    box-shadow: 0 0 5px rgb(182, 58, 83),
    0 0 25px rgb(182, 58, 83);
    height: 30px;
    width: 150px;
    border-radius: 20px;
    transition: 0.3s;
}

.bo button:hover{
    box-shadow: 0 0 5px rgb(182, 58, 83),
    0 0 25px rgb(182, 58, 83),
    0 0 80px rgb(179, 75, 96);
    transform: scale(1.1);
}

.bon{
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 8px 0 0 0;
}

.bon i{
    color: #fff;
}

.bon button{
    background: transparent;
    color: #fff;
    cursor: pointer;
    background: crimson;
    box-shadow: 0 0 5px rgb(182, 58, 83),
    0 0 25px rgb(182, 58, 83);
    height: 30px;
    width: 150px;
    border-radius: 20px;
    transition: 0.3s;
}

.bon button:hover{
    box-shadow: 0 0 5px rgb(182, 58, 83),
    0 0 25px rgb(182, 58, 83),
    0 0 80px rgb(179, 75, 96);
    transform: scale(1.1);
}

.bou{
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 4px 0 0 0;
}

.bou i{
    color: #fff;
}

.bou button{
    background: transparent;
    color: #fff;
    cursor: pointer;
    background: crimson;
    box-shadow: 0 0 5px rgb(182, 58, 83),
    0 0 25px rgb(182, 58, 83);
    height: 30px;
    width: 150px;
    border-radius: 20px;
    transition: 0.3s;
}

.bou button:hover{
    box-shadow: 0 0 5px rgb(182, 58, 83),
    0 0 25px rgb(182, 58, 83),
    0 0 80px rgb(179, 75, 96);
    transform: scale(1.1);
}

.adds{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    margin: -10px 0 70px 0;
}

.slider-wrapper{
    position: relative;
    max-width: 48rem;
}

.slider{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0,0%,0%,0.25);
    border-radius: 0.5rem;
}

.slider::-webkit-scrollbar{
    display: none;
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    
}

.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 7;
    transition: opacity ease 250ms;
}

.slider-nav a:hover{
    opacity: 2;
}

.footer{
    position: relative;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    background: transparent;
    width: 100%;
    padding: 100px 0 30px ;
    bottom: 0;
    height: auto;
}

.footer hr{
    width: 80%;
    border: 0;
    border-bottom: 1px solid #fff;
    margin: 20px auto;
}

.copy{
    text-align: center;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: transparent;
    width: 17%;
    margin: 30px 20px 20px 20px;
    height: 90%;
    border: 1px solid #fff;
    border-radius: 10px;
}

.upper{
    display: flex;
    align-items: center;
}

.upper h3{
    margin: 15px 0 0 20px;
}

.upper i{
    margin: 0 9px 0 0;
}

.upper h3 span{
    color: crimson;
    font-weight: bold;
    font-size: 23px;
}

.lower{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 25px 0;
}

.lower button{
    background: transparent;
    color: #fff;
    cursor: pointer;
    background: crimson;
    box-shadow: 0 0 5px rgb(182, 58, 83),
    0 0 25px rgb(182, 58, 83);
    height: 30px;
    width: 120px;
    border-radius: 20px;
    transition: 0.3s;
    margin: 0 0 0 13px;
}

.lower button:hover{
    box-shadow: 0 0 5px rgb(182, 58, 83),
    0 0 15px rgb(182, 58, 83),
    0 0 30px rgb(179, 75, 96);
    transform: scale(1.1);
}

.middle{
    display: flex;
    flex-direction: column;
    background: rgba(255,255,255,0.1);
    height: 400px;
    padding: 8px;
    width: 93.5%;
    margin: 8px 8px 8px 8px;
    border-radius: 10px;
    color: #dcd5d5;
    font-weight: lighter;
}

.middle img{
    position: relative;
    height: 70px;
    width: 70px;
    margin: 80% 20% 0% 30%;
    opacity: 90%;
}

.cart{
    display: flex;
}

.cart i{
    width: 30px;
    height: 30px;
    border-radius: 10px 0 10px 10px;
    font-size: 15px;
    padding: 5px 2px 2px 6px;
    line-height: 20px;
    color: #000;
    background: #fff;
    cursor: pointer;
    /* margin: -97px 0 0 -30px; */
    box-shadow: 0 0 10px rgb(91, 92, 91),
    0 0 25px rgb(214, 213, 213);
}

.cart p{
    background: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    margin: -8px 0 0 -12px;
    align-items: center;
    justify-content: center;
}

.total{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 40px 0px 0;
    padding: 0 5px 0 5px;
}

.tright{
    margin: 0 -30px 0 90px;
}

.middle hr{
    border-bottom: 1px solid #fff;
    margin: 20px 0 0 0;
    width: 100%;
}

.form1 h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#popup {
    width: 370px;
}

#popup .form2 {
    display: none;
}

#foget {
    margin-top: 20px;
}

#form3 {
    display: none;
}

.space {
    background: rgba(255, 255, 255, 0.1);
    height: 100px;
    width: 100%;
    margin: 20px 0 0px 0px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    display: none;
}

.space .l img {
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

.space .l {
    display: flex;
    align-items: center;
    margin: -60px 0 0 -18px;
}

.space .r {
    display: flex;
    align-items: center;
}

.space .r p {
    font-size: 10.5px;
}

.space .r button {
    background: transparent;
    color: #fff;
    cursor: pointer;
    margin: -56px -86px 0 0;
}

#bt3 {
    margin: -56px -130px 0 0;
}

#bt6 {
    margin: -56px -60px 0 ;
}

#r6 {
    margin-right: -30px;
}

#Pulao {
    margin-left: -20px;
}

#item {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
    height: 500px;
}

#item::-webkit-scrollbar {
    display: none;
}

#im {
    height: 46px;
    width: 46px;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
    display: none;
}